*{
	margin: 0;
	padding: 0;
}

body{
	overflow: hidden;
}

.mobile{
	display: none;
}

/* preloader */
				.flex-center {
				  display: -webkit-box;
				  display: -ms-flexbox;
				  display: flex;
				  -webkit-box-align: center;
				  -ms-flex-align: center;
				  align-items: center;
				  -webkit-box-pack: center;
				  -ms-flex-pack: center;
				  justify-content: center;
				}

				.preloader {
				  position: fixed;
				  top: 0;
				  left: 0;
				  width: 100%;
				  height: 100%;
				  background: #ffe6ca;
				  z-index: 10;
				}

/* preloader fin*/

.mobilefirstpage{
	display: none !important;
}

.mobiletitle{
	display: none;
}

.firstpage{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 999999;
	cursor: pointer;
}

.secondpage{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #fff;
	z-index: 999998;
	cursor: pointer;
}


.title{
	position: absolute;
	width: 100%;
	height: auto;
	font-size: 2.1vw;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: yellow;
    transform-origin: 50% 0%;
    transition: all 1s;
    z-index: 1;
}

.sky {
    position: absolute;
    width: 300%;
    height: 50%;
    left: -150%;
}

.ground {
    position: absolute;
    width: 300%;
    height: 100%;
    top: 50%;
    left: -150%;
}

.previous .sky{
	position: absolute;
    width: 200%;
    height: 200%;
    left: -100%;
}

.previous .ground{
	position: absolute;
    width: 200%;
    height: 200%;
    left: -100%;
}

.next .sky{
	position: absolute;
    width: 200%;
    height: 200%;
    left: 0%;
}

.next .ground{
	position: absolute;
    width: 200%;
    height: 200%;
    left: 0%;
}

.popupcaption{
	position: absolute;
	width: 100%;
	bottom: 1.4vw;
	font-size: 4vw;
	text-align: center;
	z-index: 9;
}

.fontw{
	color: #fff;
}

.fontb{
	color: #000;
}

.previous {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0%;
    cursor: w-resize;
}

.next {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 50%;
    cursor: e-resize;
}

/*.sky-flip {
    position: absolute;
    width: 300%;
    height: 50%;
    top: -50%;
    left: -150%;
    background: repeating-linear-gradient(180deg, #fffa99 0%, #ffe315 3.6%);
}

.ground-flip {
    position: absolute;
    width: 300%;
    height: 100%;
    top: -150%;
    left: -150%;
    background: repeating-linear-gradient(90deg, #ffffff 1.6%, #55abff 2%);
}*/

/* object 1 */

.object1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

	.sun{
		position: absolute;
		width: 16vw;
		height: 16vw;
		top: 5vw;
		right: 9vw;
		border-radius: 50%;
		background: yellow;
		cursor: pointer;
	}

/* object 2 */
.object2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    transform: rotate(180deg);
}

.tree {
    position: absolute;
    width: 200%;
    top: 50%;
    left: -24%;
    transform: translateY(-50%);
    cursor: pointer;
}


.treetree {
    width: 9.33vw;
    float: left;
}


.bird {
    position: absolute;
    width: 25vw;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.previous .bird{
	top: 5vw;
}

.next .bird{
	bottom: 5vw;
}

.object2 .previous{
	overflow: hidden;
	width: 50%;
	left: 0;
	z-index: 2;
}

/* object 3 */ 
.object3 {
	display: none;
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}



.previous .tree{
	left: -17.5%;
}

.next .tree{
	left: -29%;
}

	.car {
		position: absolute;
	    width: 43vw;
	    height: auto;
	    top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%);
	}

/* object 4 */
.object4 {
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    transform: rotate(180deg);
}



/* object 5 */ 
.object5 {
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}
/*
.bighouse{
	position: absolute;
    width: 63.3vw;
    top: -14.39vw;
    left: 50%;
    transform: translateX(-50%);
    transition: all 2s;
}

.bighouse .w{
	fill: yellow;
}*/

.house {
    position: absolute;
    width: 40vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

	.cup {
		position: absolute;
	    width: 36vw;
	    height: auto;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    cursor: pointer;
		}

/* object 6 */
.object6 {
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    transform: rotate(180deg);
 
}

.pan {
    position: absolute;
    width: 46vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* object 7 */
.object7 {
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

/* object 8 */
.object8 {
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    transform: rotate(180deg);
}
.can {
	position: absolute;
    width: 15vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* object 9 */
/*.object9 {
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}*/

/* object 10 */
/*.object10 {
	display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -100%;
    left: 0;
    transform: rotate(180deg);
}*/
/*.balloon {
	position: absolute;
    width: 15vw;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
*/


/******************** color ********************/

.w{
	fill: #fff;
}

/******************** turn ********************/
/*.once{transform: rotate(180deg);}
.twice{transform: rotate(360deg);}
.third{transform: rotate(540deg);}
.fourth{transform: rotate(720deg);}
.fifth{transform: rotate(900deg);}
.sixth{transform: rotate(1080deg);}
.seventh{transform: rotate(1260deg);}
.eighth{transform: rotate(1440deg);}*/
/******************** background color ********************/
.object1 .previous .sky{background: #fff100;}
.object1 .previous .ground{background: #00ff00; z-index: 2;}
.object1 .next .sky{background: #000;}
.object1 .next .ground{background: #151515; z-index: 2;}



/*.object2 .previous .sky{background: linear-gradient(0deg, #ffffff, #ffffff, #ffffff, #00d3ff, #006eff);}
.object2 .previous .ground{background: #3cd824;}
.object2 .next .sky{background: #3cd824;}
.object2 .next .ground{background: linear-gradient(0deg, #006eff, #00d3ff);}
*/
.object2 .sky{background: #006eff;}
.object2 .ground{background: #2dc700;}
.object2 .previous .sky{background: #006eff;}
.object2 .previous .ground{background: #2dc700;}
.object2 .next .sky{background: #006eff;}
.object2 .next .ground{background: #2dc700;}

.object3 .previous .sky{background: #009cff;}
.object3 .previous .ground{background: #676767;}
.object3 .next .sky{background: #009cff;}
.object3 .next .ground{background: #676767;}

.object4 .previous .sky{background: #fff100;}
.object4 .previous .ground{background: #24ff39;}
/*.object4 .previous:hover .ground{background: #000;}*/
.object4 .next .sky{background: #fff100;}
.object4 .next .ground{background: #24ff39;}



.object5 .previous .sky{background: #f4f4f4;}
.object5 .previous .ground{background: #cacaca;}
.object5 .next .sky{background: #f4f4f4;}
.object5 .next .ground{background: #cacaca;}

/*.object6 .previous .sky{background: #e9e9e9;}
.object6 .previous .ground{background: #ccc;}
.object6 .next .sky{background: #e9e9e9;}
.object6 .next .ground{background: #ccc;}
*/
.object6 .previous .sky{background: #13ff09;}
.object6 .previous .ground{background: #d2a55b;}
.object6 .next .sky{background: #13ff09;}
.object6 .next .ground{background: #d2a55b;}

.object7 .previous .sky{background: #000;}
.object7 .previous .ground{background: #151515;}
.object7 .next .sky{background: #000; }
.object7 .next .ground{background: #151515;}
.object7 .previous{transition: background 0.3s;}
.object7 .previous:hover .sky{background: blue;}
.object7 .previous:hover .ground{background: midnightblue;}
.object7 .next:hover .sky{background: blue;}
.object7 .next:hover .ground{background: midnightblue;}

/*.object9 .previous .sky{background: skyblue;}
.object9 .previous .ground{background: green;}
.object9 .next .sky{background: skyblue;}
.object9 .next .ground{background: green;}
.object9 .previous {overflow: hidden;}
.object9 .next {overflow: hidden;}
*/
.object8 .previous .sky{background: #ff4700;}
.object8 .previous .ground{background: #00ff00;}
.object8 .next .sky{background: #006eff;}
.object8 .next .ground{background: #2dc700;}

.object8 #g2 {
    background: repeating-linear-gradient(50deg, #fff 1.2%, #00ea4d,#00ea4d,#00ea4d,#00ea4d 2%);
}
.object8 #g1 {
    background: repeating-linear-gradient(120deg, #fff 1%, transparent, transparent, transparent, transparent, transparent 2%);
    border-top: 0.15vw solid #fff;
}

/********** POPUP **********/

.popup{
	display: none;
    position: absolute;
    box-shadow: 0px 3px 30px 0px rgba(0,0,0,0.2);
    border: 1px rgba(0,0,0,0.7);
    z-index: 9;
    overflow: hidden;
    cursor: pointer;
}


.sun-container {
		    position: relative;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		}
		.sun-circle{
			position: relative;
			width: 16vw;
			height: 16vw;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #fff;
			border-radius: 50%;
		}


.moon-container {
		    position: relative;
		    width: 100%;
		    height: 100%;
		    top: 0;
		    left: 0;
		}
		.moon-circle{
			position: relative;
			width: 16vw;
			height: 16vw;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #fff;
			border-radius: 50%;
		}




/*.treepopup1{
	width: 35vw;
	height: 35vw;
	top: 12vw;
	left: calc(50% - 38vw);
}

.treepopup2{
	width: 35vw;
	height: 35vw;
	top: 12vw;
	left: calc(50% + 3vw);
}*/
	.tree-container{
			position: relative;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: linear-gradient(0deg, #43ff66, #b0ffbb); 
		}
		[class^=char]{
		  display: inline-block !important;
		  line-height: 1;
		  transform-origin: bottom;
		}
		.tree-sky{
		  position: absolute;
		  width: 100%;
		  height: 50%;
		  z-index: 1;
		  background: linear-gradient(0deg, #ff8ecc, #ffc9e6);
		}
		.tree-box {
		    position: absolute;
		    width: fit-content;
		    top: 17%;
		    left: 50%;
		    transform: translateX(-50%);
		    z-index: 9;
	        overflow: visible;
		}
		.tree-tree{
		  position: relative;
		  width: 7vw;
		  float: left;
		  padding: 0 0.3vw;
		}

/*.cuppopup1{
	position: absolute;
	width: 35vw;
    height: 35vw;
    top: 10vw;
    left: 5vw;
}*/
	.hot-container {
	    position: relative;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: #ddd;
	}

	.hot-cup{
		position: absolute;
	    width: 36vw;
	    height: auto;
	    top: 50%;
	    left: 50%;
	    transform: translate(-50%, -50%);
	    cursor: pointer;
		filter: blur(0px);
	}

	.steam{
		animation-name: steam;
		animation-duration: 6s;
		animation-fill-mode: forwards;
		animation-play-state: paused;
	}

	.hot-hot{
		position: absolute;
		width: 200%;
		height: 200%;
		top: 0;
		left: -100%;
		background: rgba(255,255,255,0);
		z-index: 4;
		animation-name: hot;
		animation-duration: 3s;
		animation-fill-mode: forwards;
		animation-play-state: paused;
		transition: all 1s;
	}

	@keyframes hot{
		0%{
			background: rgba(255,255,255,0);
		}
		100%{
			background: rgba(255,255,255,0.6);
		}
	}

	@keyframes steam{
		0%{
			filter: blur(0px);
		}
		100%{
			filter: blur(8px);
		}
	}

/*.cuppopup2{
	position: absolute;
	width: 35vw;
    height: 35vw;
    top: 10vw;
    right: 5vw;
}*/
	.ice-container {
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ddd;
	}

	.ice-cup{
		position: relative;
		width: 30vw;
		height: auto;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%); 
	}
/*
.pan-fan{
		position: absolute;
		width: 200%;
		height: 200%;
		top: 0;
		left: -100%;
		background: #000;
		animation-name: panfan;
		animation-duration: 6s;
		animation-fill-mode: forwards;
	}
*/
.pan-hot{
		position: absolute;
		width: 200%;
		height: 200%;
		top: 0;
		left: 0%;
		background: transparent;
		z-index: 4;
		transition: background 5s;
	}


.pan-hot .previous {
    width: 25%;
    height: 100%;
}

.pan-hot .next {
    width: 25%;
    height: 100%;
    left: 25%;
}

.cocacola {
    position: absolute;
    width: 300%;
    height: 200%;
    left: -200%;
    background: transparent;
    transition: opacity 1s;
    transition-timing-function: cubic-bezier(.12,1.14,.1,.88);
    transition-delay: 0.4s;
}

.pepsi {
    position: absolute;
    width: 300%;
    height: 200%;
    background: transparent;
    transition: opacity 1s;
    transition-timing-function: cubic-bezier(.12,1.14,.1,.88);
    transition-delay: 0.4s;
}

.cokaani{
	opacity: 0;
	background: linear-gradient(0deg, #ff6c00, #ff1d00);
	/*animation-name: colared;
	animation-delay: 0.4s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;*/
}
/*
@keyframes colared{
	0%{
		background: transparent;
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background: transparent;
		opacity: 0;
	}
}*/

.pepsiani{
	opacity: 0;
	background: linear-gradient(0deg, #00abff, #004bff);
	/*animation-name: colablue;
	animation-delay: 0.4s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;*/
}

/*@keyframes colablue{
	0%{
		background: transparent;
		opacity: 0;
	}
	50%{
		opacity: 1;
	}
	100%{
		background: transparent;
		opacity: 0;
	}
}

*/
.previouslight {
    position: absolute;
    width: 300%;
    height: 200%;
    left: -200%;
    background: transparent;
}

.nextlight {
    position: absolute;
    width: 300%;
    height: 200%;
    background: transparent;
}

.lightani{
	animation-name: light;
	animation-delay: 0.1s;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
/*	animation-timing-function: linear;*/
}

@keyframes light{
	0%{
		background: transparent;
	}
	50%{
		background: #fffc00;
	}
	100%{
		background: transparent;
	}
}

/*.old {
    position: absolute;
    width: 300vw;
    height: 18vw;
    background: #fff;
    top: 50%;
    left: -300%;
    transform: translate(-50%, -50%);
    animation-name: old;
    animation-duration: 20s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.new {
    position: absolute;
    width: 300vw;
    height: 18vw;
    background: #fff;
    top: 50%;
    left: -300%;
    transform: translate(-50%, -50%);
    animation-name: new;
    animation-duration: 13s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}*/

@keyframes new{
	0%{
		left: -300%;
	}

	20%{
		left: -300%;
	}
	40%{
		left: 0%;
	}

	70%{
		left: 0%;
	}

	100%{
		left: 400%;
	}
}

@keyframes old{
	0%{
		left: -300%;
	}

	10%{
		left: 0%;
	}

	90%{
		left: 0%;
	}

	100%{
		left: 400%;
	}
}

.tv {
    position: absolute;
    width: 35.5vw;
    height: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
}

.rectangle1 {
    position: absolute;
    width: 36vw;
    height: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: repeating-linear-gradient(120deg, #fff 0%, transparent, transparent, transparent, transparent, transparent 3%);
    border: 14px solid #fff;
    border-bottom: 0;
}

.rectangle2 {
    position: absolute;
    width: 36vw;
    height: 20vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: repeating-linear-gradient(50deg, #fff 0%, transparent, transparent, transparent, transparent, transparent 3%);
}

.newbg{
	background: #fff100 !important;
}

.newbgground{
	background: #24ff39 !important;
}

.wind1{
	display: block;
}

.wind2{
	display: none;
}

.object2 .previous .tree{
	left: -59.6%;
}

.anothertree{
	position: fixed;
	width: 100%;
	height: 100%;
	left: -100%;
	margin-left: 0.9%;
	z-index: 1;
}

@media all and (max-device-width: 800px){
	.desktop{
		display: none;
	}

	.mobile{
		display: block;
		cursor: pointer;
	}

	.mobile-page {
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    transition: all 1s;
	    overflow: visible;
	}

	.mobile-box1 {
	    position: fixed;
	    width: 300%;
	    height: 200%;
	    top: -150%;
	    left: -100%;
	    background: skyblue;
	}

	.mobile-box2 {
	    position: absolute;
	    width: 300%;
	    height: 200%;
	    top: 50%;
	    left: -100%;
	    background: green;
	}

	.upsidedown {
		display: none;
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: transparent;
	}

	.normal {
		display: block;
	    position: fixed;
	    width: 100%;
	    height: 100%;
	    top: 0;
	    left: 0;
	    background: transparent;
	}

}